.unlock-twitch-hide-following a[data-a-target="following-link"] {
    display: none !important;
}

.unlock-twitch-hide-browse a[data-a-target="browse-link"] {
    display: none !important;
}

.unlock-twitch-hide-prime-offers .prime-offers {
    display: none !important;
}

.unlock-twitch-hide-notifications .onsite-notifications {
    display: none !important;
}